@{
    Layout = null;
    ViewBag.Title = "Unauthorized Access";
}

<!DOCTYPE html>
<link href="~/Content/Bootstrap/bootstrap.css" rel="stylesheet" />
<h1 class="text-danger"> &nbsp;&nbsp;&nbsp;&nbsp; Unauthorized Access. You are not allowed to access. Please contact Administrator !!!</h1>